*{
    padding: 0;
    margin: 0;
}

.body{
    background : url("../img/bg.jpg");
    min-height: 100vh; 
    background-size:100vw 100vh ;
    background-repeat: no-repeat;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(rgb(165, 241, 165),rgb(245, 245, 207));
    width: 90vmin;
    height: 92vmin;

    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);

}

#score{
    position: absolute;
    top:9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    
}
#highScore{
    position: absolute;
    top:45px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    
}
.head{
    background:linear-gradient(rgb(230, 141, 141),rgb(243, 243, 129));
    border: 2px solid purple;
    border-radius: 5px;
    transform: scale(1.05);

}

.food{
    background:linear-gradient(red,purple);
    border:2px solid  black;
    border-radius: 8px;
}

.snake {
    background-color: purple;
    border:  0.25vmin solid white;
    border-radius: 12px;
}